body {
	-webkit-background-size: cover; /*Used by Safari &amp; Chrome*/
	-moz-background-size: cover; /* Used by Firefox */
	-o-background-size: cover; /* Used by Opera */
	background-size: cover; /* All Modern Browsers */
    margin: 0;
    padding: 0;
    display: table;

}

html, body {
    height: 100%;
    width: 100%;
}

body > div {
    display: table-cell; 
    text-align: center; /* horizontal */
    vertical-align: middle; /* vertical */
}

a {
    color:#666;
    transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    font-family: 'Muli', sans-serif;
}

a:hover {
    text-decoration:underline;
}

.jumbotron {
 
    padding-bottom: 15px; 
    padding-top: 50px;
    color:#666;
    position: relative;
    border:3px solid #888;
    margin: 0 auto;
    width: 70%;
    height: 50%;
}

h1 a { 
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:48px;
    color:#ffffff;
}

h1 a:hover {
    color:#ff6600;
    text-decoration:none;
}

p {
    color:#222;
    font-family: 'Muli', sans-serif;
    margin-bottom: 15px;
}

span {
    color: red;
}