/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  RAISED BUTTONS
************************/
.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

#btn_fb:hover {
    color:#000000;
    text-decoration:underline;
}
#btn_twitter:hover {
    color:#000000;
    text-decoration:underline;
}

.btn {
    color:#ffffff;
}

body {
	-webkit-background-size: cover; /*Used by Safari &amp; Chrome*/
	-moz-background-size: cover; /* Used by Firefox */
	-o-background-size: cover; /* Used by Opera */
	background-size: cover; /* All Modern Browsers */
    margin: 0;
    padding: 0;
    display: table;
    background-color: #222;

}

html, body {
    height: 100%;
    width: 100%;
}

body > div {
    display: table-cell; 
    text-align: center; /* horizontal */
    vertical-align: middle; /* vertical */
}

a {
    color:#666;
    transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    font-family: 'Muli', sans-serif;
}

a:hover {
    text-decoration:underline;
}

.jumbotron {
 
    padding-bottom: 15px; 
    padding-top: 50px;
    color:#666;
    position: relative;
    border:3px solid #888;
    margin: 0 auto;
    width: 70%;
    height: 60%;
}

.navbar-text {
    color: white; 
    text-decoration: none;
}

h1 a { 
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:48px;
    color:#ffffff;
}

h1 a:hover {
    color:#ff6600;
    text-decoration:none;
}

p {
    color:#222;
    font-family: 'Muli', sans-serif;
    margin-bottom: 15px;
}

span {
    color: red;
}